
    .form{
        text-align: center;
        h1{
            color: #006978;
            font-size: 24px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        button{
            text-align: center;
            margin-top: .5rem;
        }
        .form-field{
            margin-top: 1rem;
            width: 19rem;
            margin-left: 34rem;
            text-align: center;
            border: solid 2px white;
            box-shadow: 5px 5px 5px 5px #56c8d8;
            height: auto;
            top:1rem
           
        }
        .list{
            display: flex ;
            justify-content: space-between;
            
           }
        .form-field-sub{
            margin-top: 1rem;
            width: 19rem;
            margin-left: 34rem;
            text-align: center;
            border: solid 2px white;
            box-shadow: 5px 5px 5px 5px #56c8d8;
            height: auto;
            top:1rem

        }
    }

    .finalCal{
        h1{
            color: #006978;
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        text-align: center;
        margin-top: 3rem;
    }

    ::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button{
        background: #0097a7 !important;
    }
