
    .form{
        text-align: center;
        border: double 1px blue;
        .form-field{
            width: 19rem;
            margin-left: 34rem;
            text-align: center;
            border: solid 2px blue;
            box-shadow: 10px 10px 10px 10px #888888;
            height: 21rem;
            top:1rem

        }
    }
