<div class="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Compute Investment Value</h1><br><br>
    <div class="form-field">
      <mat-form-field>
        <mat-label>
          <h4>Start Date</h4>
        </mat-label>
        <input matInput type="date" formControlName="startdate">
        <div *ngIf="submitted && f.startdate.errors">
          <div *ngIf="f.startdate.errors.required">Start Date is required</div>
        </div>
      </mat-form-field><br><br>
      <mat-form-field>
        <mat-label>
          <h4>End Date</h4>
        </mat-label>
        <input matInput type="date" formControlName="enddate">
        <div *ngIf="submitted && f.enddate.errors">
          <div *ngIf="f.enddate.errors.required">End Date is required</div>
        </div>
      </mat-form-field><br><br>
      <mat-form-field>
        <mat-label>
          <h4>Amount</h4>
        </mat-label>
        <input matInput type="number" formControlName="amount">
        <div *ngIf="submitted && f.amount.errors">
          <div *ngIf="f.amount.errors.required">Amount is required</div>
        </div>
      </mat-form-field><br><br>
      <mat-form-field>
        <mat-label>
          <h4>Scheme</h4>
        </mat-label>
        <mat-select formControlName="scheme">
          <mat-option *ngFor="let scheme of schemes" [value]="scheme">
            {{scheme}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.scheme.errors">
          <div *ngIf="f.scheme.errors.required">Scheme is required</div>
        </div>
      </mat-form-field><br><br>
      <button mat-button>Calculate</button>
    </div>

  </form>
</div>

<div *ngIf="investment">
  <h1> The Investment to date {{date}}</h1>
</div>