<div class="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Compute Investment Value</h1><br><br>
    <div class="form-field">
      <h1>You Have {{length}} TODO'S</h1>
      <div   *ngFor = "let todo of toDoArray; let i = index;let l = length">
        <table>
          <tr>
            <td>{{todo}}</td>
            <td style="text-align:left"><button mat-button  (click) = "onClear(i)"> X</button></td>
          </tr>
        </table>
      </div>
    </div>
   
    <div>
      <mat-form-field>
        <mat-label>
          <h4>Scheme</h4>
        </mat-label>
        <input matInput type="text" formControlName="toDoTask">
        <div *ngIf="submitted && f.toDoTask.errors">
          <div *ngIf="f.toDoTask.errors.required">Task is required</div>
        </div>
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-button>Submit</button> &nbsp;
    </div>
  </form>
</div>



